/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.menu-btn {
  background: white;
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.header-img {
  width: 100%;
}

.header-text-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

/* SIDE-MENU SECTION */

.sidebar * {
  list-style: none;
  text-decoration: none;
}

.sidebar {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 225px;
  align-self: flex-end;
  /* display: none; */
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.headerh1 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 5%;
}

.headerparagraph {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  color: hsl(0, 0%, 41%)
}

.learnmore {
  width: 30%;
  height: 50px;
  align-self: center;
  border-radius: 7%;
  border: none;
  background: black;
  color: white;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  margin-bottom: 5%;
}

.learnmore:hover {
  background-color: orange;
  cursor: pointer;
}

.client-logos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.clients {
  width: 15%;
}



