/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.menu-btn {
  background: white;
  border: none;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.header-img {
  width: 100%;
}

.header-text-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}



/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
